Client/Connected Services/CircleService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalcDiameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDiameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcDiameterResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcCirumference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcCirumferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcCirumferenceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>